
{{#unless devoured}}
	<button class="eat-this bg-warning ml-5 p-4 " data-id="{{id}}" data-devoured="{{devoured}}">
		{{burger_name}} 
	</button><br>
{{/unless}}

{{#if devoured}}
	<button class="already-ate bg-info ml-5 p-4" data-id="{{id}}" data-devoured="{{devoured}}">
		{{burger_name}}  Devoured!
	</button><br>
{{/if}}

